<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="ca.yyx.hu"
  android:versionCode="22"
  android:versionName="2015_11_28" >

  <uses-feature android:name="android.hardware.usb.host"          android:required="false"/>
  <uses-feature android:name="android.hardware.screen.landscape"  android:required="false"/>
  <uses-feature android:name="android.hardware.wifi"              android:required="false"/>

  <uses-sdk
    android:minSdkVersion="16"
  />

<!-- 
  android:minSdkVersion="16"
  android:targetSdkVersion="23"
    <supports-screens android:smallScreens="false"
                      android:normalScreens="false"
                      android:largeScreens="true"
                      android:xlargeScreens="true"/>
-->


<uses-permission android:name="android.permission.WAKE_LOCK" />

<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
<uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
<uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
<uses-permission android:name="android.permission.INTERNET" />
<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.ACCESS_SUPERUSER"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.BROADCAST_STICKY"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />


  <application android:label="Headunit"
    android:icon="@drawable/hu_icon_256"
    android:hardwareAccelerated="true">

<!-- 
  <application android:label="@string/app_name"
    android:icon="@drawable/ic_app"
    android:hardwareAccelerated="true">
-->

<!-- 
      android:theme="@android:style/Theme.Holo"

      android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
android:screenOrientation="landscape"
android:screenOrientation="portrait"

      android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
-->
    <activity android:name=".hu_act"
      android:label="Headunit"
      android:launchMode="singleInstance"

      android:screenOrientation="sensorLandscape"
      android:hardwareAccelerated="true"

android:theme="@style/AppTheme" 
      >
      <intent-filter>
        <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"/>
        <category android:name="android.intent.category.DEFAULT" />
<!-- 
-->
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />


<!-- 
    <category android:name="android.intent.category.CAR_MODE" />
    <category android:name="android.intent.category.CAR_DOCK" />
    <category android:name="android.intent.category.DEFAULT" />
-->

      </intent-filter>

      <meta-data android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
        android:resource="@xml/usb_device_filter"/>
<!-- 
-->

<!-- 
-->
    </activity>

  </application>
</manifest>
<!-- 
-->

